/*for the body and background of page*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html{
    height: 100%;
    margin: 0;
    color: #ffffff;
    font-family: 'Bebas Neue';
}

a{
    color: #ffffff;
    text-decoration: none;
}

body{
    background: rgb(255,85,85);
    background: linear-gradient(90deg, rgba(255,85,85,1) 0%, rgba(252,143,126,1) 61%, rgba(255,125,124,1) 100%);
}

/*navigation bar at the top*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

 nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li a{
    color: #ffffff;
    width: 30%;
    padding: 0 30px;
    display: flex;
    place-content: center;
    font-weight: bold;
}


/*Text*/

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    font-size: 3.5em;
}

.container p{
    font-size: 1.3em;
    line-height: 1.4em;
    text-shadow: 2px 2px 4px rgb(255,85,85);
}

/*pig in background*/
.container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: -10;
    height: 1000px;
    width: 1000px;
}

/*Download Button*/

button{
    transform: translate(-50%,-50%);
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(225deg, rgba(255,85,85,1) 0%, rgba(252,143,126,1) 61%, rgba(255,125,124,1) 100%);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    font-family: 'Bebas Neue';
    color: white;
    font-weight: bold;
    font-size: 20px;
    transform: perspective(800px);
    transition: transform 0.3s ease;
}

/*button animation*/

button::after,
button::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: rgb(255,85,85);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

button:hover {
  transform: translate(-12px, -12px);
}

button:hover::after {
  transform: translate(6px, 6px);
}

button:hover::before {
  transform: translate(12px, 12px);
}
